<div> 
  <div class="getyourcrayon">
    <p>getYourCrayon</p>
    <a href="/">Right Here</a>
  </div>
</div>

<div class="page_container">
  <div class="tag_search">
  	<p>Tag Search</p>
  </div>

  <div class="tags">
  	<p>Trending Tags</p>
  </div>

</div>