<%= link_to(@drawing.website.url , @drawing.website.url)%>
<br>
Hit Count: <%= @drawing.impressions_count %>
<canvas id='gyc-drawing'></canvas>

<p id='gyc-json-string' style="display:none;"><%= @drawing.content %></p>
