<!DOCTYPE html>
<html>
<head>
  <title>GetYourCrayon</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<script type="text/paperscript"  canvas="gyc-drawing">
var jsonString = $('#gyc-json-string').html();
project.importJSON(jsonString);
var point = new Point(-160,-160);
project.activeLayer.scale(.5).translate(point);</script>
</body>
<footer>
  <p> 
    <a href="/"></a>
  </p>
  </footer>
</html>



